.DS_Store
kontakt.html
kontakt2.html
undex.html
undex2.html
AGENTS.md
my-app/
static/ZERT_Brand Book.pdf
static/telenor_ai_factory_some.png
static/Zert_Kjennemerke_DempetSort.png
static/zert_hvit.png
static/file.svg
static/user-image.png